alabaster==1.0.0
babel==2.17.0
certifi==2019.3.9
chardet==3.0.4
charset-normalizer==3.4.4
docutils==0.22.4
idna==2.8
imagesize==1.4.1
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
Pygments==2.19.2
pyparsing==2.3.1
pytz==2018.9
requests==2.32.5
roman-numerals==4.1.0
setuptools==80.9.0
six==1.12.0
snowballstemmer==3.0.1
Sphinx==9.0.4
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-websupport==1.1.0
urllib3==2.6.2
