{% extends "!base.html" %}

{% block extra_styles %}
<style>
    .proof p.admonition-title {
        padding-left: .5rem;
    }

    .proof :last-child {
        margin-bottom: 0;
    }

    div#proof :first-child {
        margin-top: 0;
    }

    div#proof {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }

    article figure {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    article figure figcaption {
        margin-left: auto;
        margin-right: auto;
        padding-left: .5rem;
        padding-right: .5rem;
        max-width: 40em;
        text-align: left;
    }
</style>
{% endblock %}

{% block extrahead %}
<link rel="icon" type="image/ico" href="https://www.jwchong.com/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="https://www.jwchong.com/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://www.jwchong.com/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="https://www.jwchong.com/android-chrome-192x192.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://www.jwchong.com/apple-touch-icon.png">
{% endblock %}

{% block body %}
<style>
    mjx-container[display] {
        margin: 0;
        margin-bottom: 0.15rem;
    }
</style>

<script>
    document.body.dataset.theme = 'light'
</script>
{% endblock %}

{% block theme_scripts %}
<script>
    function removeThemeToggle() {
        const elems = document.getElementsByClassName('theme-toggle-container')
        for (const elem of elems) {
            elem.innerHTML = ''
        }
    }

    function italiciseProofs() {
        // A hack to italicise the "Proof." word in a proof without changing the extension source code.
        const elems = document.querySelectorAll('#proof')
        for (const elem of elems) {
            const child = elem.firstElementChild
            const innerHTML = child.innerHTML
            const idx = innerHTML.indexOf('. ')
            if (idx == -1) {
                continue
            }
            const proofWord = innerHTML.substring(0, idx + 1)
            const restHTML = innerHTML.substring(idx + 2)
            child.innerHTML = '<em>' + proofWord + '</em> ' + restHTML
        }
    }

    removeThemeToggle()
    italiciseProofs()
</script>
{% endblock %}